div.rechts{
  margin-left: 200px;
}
div.taal{
  margin-top: 40px;
margin-left: 80%;
}
div.center{
  text-align: center;
}
div.info{

}
div.top{
margin-top: -90px;
}
body{
  color: white;
  background-color: #1D1515;
}
button{
  background-color: #F45A18;
  color: white;
  border: none;
  height:60px;
  width: 150px;
}
select{
  font-size: 22px;
  background-color: white;
  color: black;
  vertical-align: middle;
}
input[type=text]{
  font-size: 22px;
  color: black;
  background-color: white;
}
input[type=submit]{
  font-size: 22px;
  color: black;
  background-color: white;
}
input[type=date]{
  font-size: 20px;
  color: black;
  background-color: white;
}
h1.een{
  font-size: 350%;
}
h2{
  color: white;
}
