div.vak2{
  background-color: white;
  height: 500px;
  width: 300px;
  color: black;
  margin-left: 200px;
  margin-top: 50px;
  position: fixed;
  text-align: center;
}
div.vak1{
  background-color: white;
  height: 500px;
  width: 300px;
  color: black;
  margin-left: 700px;
  margin-top: 50px;
  position: fixed;
  text-align: center;
}

div.center{
  text-align: center;
}
div.naam{
  margin-left: 200px;
}
div.invoer{
  margin-top: -65px;
  margin-left: 500px;
}
div.switch{
  background-color: lightgray;
  color: black;
  height: 40px;
  font-size: 80%;
  width: 130px;
  line-height: 40px;
  margin-left: 530px;
  margin-top: -200px;
}
div.button{
  margin-left: 24%;
  margin-top: -2.53%;
}


input[type=text]{
    width: 200px;  height: 35px;
    color: black;
    background-color: white;
    border: none;
    font-size: 180%;
}
button.een{
  width: 200px;  height: 40px;
  color: white;
  background-color: #F45A18;
  border: none;
  font-size: 180%;
  margin-left: 1%;
  margin-top: -8.89%;
}
button.twee{
  width: 130px;  height: 40px;
  color: white;
  background-color: #F45A18;
  border: none;
  font-size: 180%;
  margin-left: 35%;
  margin-top: 250px;
}
button.drie{
  width: 130px;  height: 40px;
  color: white;
  background-color: #F45A18;
  border: none;
  font-size: 180%;
  margin-left: 35%;
  margin-top: -250.89%;
}

body{
  color: white;
  background-color: #1D1515;
}

h1.hoofd{
font-size: 250%;
}
